game-instruments {
	display: block;
}

.instrument {
	display: block;
	position: absolute;
	z-index: 20;
	border: 2px solid hsl(0, 0%, 50%);
	background-color: black;
}

.instrument::after {
	display: block;
	position: absolute;
	inset-block-start: calc(-1em - 6px);
	inset-inline-start: -2px;
	inset-inline-end: -2px;
	line-height: 1;
	text-align: center;
	content: attr(label);
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	color: black;
	border: 2px solid hsl(0, 0%, 50%);
	background-color: hsl(0, 0%, 50%);
}