game-engine {
    --lander_position_x: 50; /* 0 - 100 (percent) */
    --lander_position_y: 50; /* 0 - 100 (percent) */
    --lander_speed: 0;
    --lander_rotation: 0; /* -100 to 100 (degrees) */
    --lander_booster: 10; /* 0 - 100 (percent) */

    display: block;
    position: absolute;
    inset: 0;
}

game-engine game-instruments { z-index: 2; }
game-engine game-scene       { z-index: 1; }