lander-vehicle {
	display: block;
	position: absolute;
	inset-block-start: calc(var(--lander_position_y) * 1%);
	inset-inline-start: calc(var(--lander_position_x) * 1%);
	inline-size: calc(5 * var(--unit_root));
	block-size: calc(4 * var(--unit_root));
	transform-origin: 50% 50%;
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: linear;
	transform:
		translate(-50%, -50%)
		rotate(
			calc(var(--lander_rotation) * 1deg)
		);
}