system-notifications {

}

.notification {
	text-transform: uppercase;
	font-weight: 700;
	opacity: 0;
}

.notification.warning {
	color: gold;
}

.notification.error {
	color: red;
}

#error-no-signal {
	opacity: calc((var(--lander_signal) * -1) + 1);
}